div(style="height:5em;")
.panel
  .panel-heading
   h2.panel-title 
    |About: Intel Smart Park Project
  .panel-body
   |This project realizes a solution for smart parking, i.e. a system for parking monitoring. It is realized specially for parkings reserved to disabled people, but it can be applied to other situations, as pay and display parking or non-parking areas.<br>The parking lot have a sensor on the ground that can communicate to a server whether the place is free or taken, and if it is taken, the system can figure out if the vehicle is authorized or not.<br>Through an app, someone can check where there are free parking in that moment, and finally it will be possible to calculate some statistics, for example how many parkings are free or occupied or not allowed, divided for areas, days, time slots..
a(href="http://www.intel.com/content/www/us/en/do-it-yourself/edison.html", target='_blank')
  img.about(src="public/edison.jpg")
a(href="http://www.makerfairerome.eu/it/", target='_blank')
  img.about(src="public/make.png")
