div(style="height:5em;")
img.about(src="public/fab_logo.png" style="width:100%; padding:1em;")
.list-group
  a.list-group-item(href='https://goo.gl/maps/asQQ8PaKw212')
   h4.list-group-item-heading address
   p.list-group-item-text Viale del Lavoro 2<br>37023, Grezzana<br>Italy
  a.list-group-item(href='#')
   p.list-group-item-text C.F: 93259970239
  a.list-group-item(href='mailto:info@veronafablab.it')
    h4.list-group-item-heading e-mail
    p.list-group-item-text info@veronafablab.it
  a.list-group-item(href='tel:+39 344 0458663')
    h4.list-group-item-heading phone
    p.list-group-item-text +39 344 0458663 
  a.list-group-item(href='http://www.veronafablab.it/', target='_blank')
    h4.list-group-item-heading website
    p.list-group-item-text veronafablab.it
