include ../_bootstrap

+input("text","txtName","Name","Name")
+checkbox("Check me out")
+radio("My Radio Button")
+submit("Register")
+input-group("$","%")
 +input-simple("text","txtName","Name","Name")
+input-group("$")
 +input-simple("text","txtName","Name","Name")
+input-group("","%")
 +input-simple("text","txtName","Name","Name")
