include ../_bootstrap

+list-group-custom
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div Nome Cognome
    div email
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div email
    div info
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div email
    div info
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div Nome Cognome
    div email
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div email
    div info
  +list-group-item
    +img-circle("public/ic_person_48px.svg","user")
    div email
    div info
